<div class="body">
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <section>
      <!-- <div class="example-label">Register</div> -->
      <div class="example-button-row">
        <button mat-stroked-button routerLink="reg">Register</button>
        <button mat-stroked-button color="accent" routerLink="login">Login</button>
        <button mat-stroked-button color="warn" routerLink="user">TeacherDashBoard</button>
        <button mat-stroked-button color="warn" routerLink="stu">StudentDashboard</button>

        <!-- <button mat-stroked-button disabled>Disabled</button> -->
        <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
      </div>
    </section>
    
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
</div>
<router-outlet></router-outlet>
